<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.title %}
      {% assign title = page.title | append: " - " %}
    {% endif %}
    <title>{{ title }}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
  <body>
    <nav>
      <a href="{{ site.baseurl }}">Home</a>
      <a href="{{ site.baseurl }}/blog/">Blog</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; {{ title }}
    </footer>
  </body>
</html>
